<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Prefix</label>
      <div class="form-control">{{candidateReg.prefix}}</div>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <div class="form-control">{{candidateReg.firstName}}</div>
    </div>
    <div class="form-group">
      <label>Middle Name</label>
      <div class="form-control">{{candidateReg.middleName}}</div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <div class="form-control">{{candidateReg.lastName}}</div>
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <div class="form-control">{{candidateReg.phoneNumber}}</div>
    </div>
  </div>
</div>